# Logs
logs
*.log
npm-debug.log*

# Dependencies & build
node_modules/
main.js
styles.css
.DS_Store
.idea
.eslintcache
*.tsbuildinfo
.obsidian

# Env
.env
.env.*
!.env.example

# Coverage
coverage
.nyc_output
